<div class="container">
  <h1 class="center">{{title}}</h1>
  <div class="textField-center">
    <input [value]="notification.msg" (input)="notification.msg = $event.target.value" placeholder="notification msg">
    <button  (click)="notify()">Notify</button>
  </div>
</div>

<style type="text/css">
.container {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.center {
  text-align: center;
}

.textField-center {
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

</style>